@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");


:root{
  --👻:display:none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Pattaya", sans-serif;
}

.banner {
  background-image: url(image/sylwia-bartyzel-eU4pipU_8HA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(236, 235, 235);
  text-align: center;
  
  
}
.banner h1 {
  font-size: 50px;
}

.banner::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: 0.4;
  mix-blend-mode:hard-light;
}

.banner > * {
  z-index: 9;
}
